<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Choose your own adventure!!!</h1>
        <p>your name is jim you just arrived in a strange dungen called MoorDoor. A wizard tell you that you can not leave until you gather the all of the door knobs of power</p>

        <span><a href="/main/left">go left</a></span>
        <span><a href="/main/right">go right</a></span>
</body>
</html>