<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
    <h3>{{session['num']}}</h3>
    <form action="/process" method="POST">
        <input type="hidden" name="number" value="add">
        <button type="submit">Click to add 2</button>
    </form>
    <form action="/process" method="POST">
        <input type="hidden" name="number" value="reset">
        <button type="submit">Click rest counter</button>
    </form>


</body>
</html>