<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/process" method="post">
        Your Name: <input type="text" name="name">
        Dojo Location:  <select name="location" id="">
                <option value="Washington">Washington</option>
                <option value="New York">New York</option>
                <option value="Boston">Boston</option>
        </select>

        Favorite Language:  <select name="FavLang" >
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="Java">Java</option>
        </select>
        <input type="submit">
    </form>
    
</body>
</html>